<h1>Add a New Villain</h1>
<form action="/antiheroes" method="POST">
    <label for="antiheroName">Villain Name:</label>
    <input type="text" id="antiheroName" name="antiheroName"><br><br>

    <label for="realName">Real Name:</label>
    <input type="text" id="realName" name="realName"><br><br>

    <label for="power">Power:</label>
    <input type="text" id="power" name="power"><br><br>

    <label for="origin">Origin:</label>
    <input type="text" id="origin" name="origin"><br><br>

    <input type="submit" value="Add Antihero">
</form>
