<h1>Add a New Superhero</h1>

<form action="/newSuperhero" method="POST">
    <fieldset>
        <legend>Superhero Info</legend>

        <label for="heroName">Hero Name:</label>
        <input type="text" id="heroName" name="heroName" required>
        <br><br>

        <label for="realName">Real Name:</label>
        <input type="text" id="realName" name="realName">
        <br><br>

        <label for="superpower">Superpower:</label>
        <input type="text" id="superpower" name="superpower">
        <br><br>

        <label for="origin">Origin:</label>
        <input type="text" id="origin" name="origin">
        <br><br>

        <input type="submit" value="Add Superhero">
    </fieldset>
</form>
